---
name: "pre-releases"

on:
  push:
    tags: 'v[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+'

env:
  CARGO_TERM_COLOR: always

jobs:
  publish-rc:
    name: "Tagged pre-release"
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.59.0
          override: true
      - name: "Prebuild"
        run: |
          sudo apt-get update
          sudo apt-get install -y libsndfile1-dev

      - uses: olegtarasov/get-tag@v2.1
        id: tagName

      - name: "Build & tests"
        run: |
          cargo test --release --verbose
          cargo build --release --verbose
          cp target/release/audeye "audeye-${GIT_TAG_NAME}-linux-amd64"

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: true
          title: "${{ steps.tagName.outputs.tag }}"
          files: |
            LICENSE
            audeye-${{ steps.tagName.outputs.tag }}-linux-amd64

  