---
name: "releases"

on:
  push:
    tags: 'v[0-9]+.[0-9]+.[0-9]+'

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    name: "Tagged release"
    runs-on: "ubuntu:20.04"

    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
      - name: "Prebuild"
        run: |
          apt-get update
          apt-get install -y libsndfile1-dev

      - name: "Build & tests"
        run: |
          cargo test --release --verbose
          cargo build --release --verbose
      
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          title: audeye-linux-amd64
          files: |
            LICENSE
            target/release/audeye
  publish-cargo:
    name: "Crates.io release"
    needs: publish
    runs-on: "ubuntu:20.04"
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - run: |
          sudo apt-get update
          apt-get install -y libsndfile1-dev
      - uses: actions-rs/cargo@v1
        with:
          command: publish
          args: --token ${{ secrets.CARGO_API_KEY }} --allow-dirty

  